.header
{
    display : flex;
    flex-direction:row;
    width: 100%;
    
}
.nav
{
    display : flex;
    flex-direction:row;
}
.menu
{
    display: flex;
    flex-direction:  row;
    
}